body {
    font-size: 1.2rem;
}

.error {
    color: red;
    display: flex;
    flex-direction: column; align-items: center;
    margin: 0 auto;
    width: 100%;
}

div.container {
    display: flex;
    flex-direction: column; align-items: center;
    margin: 0 auto;
    width: 100%;
}

div.header {
    font-size: 1.6rem;
}

form * {
    padding: 5px;
}

form p {
    display: flex;
    flex-direction: column; align-items: center;
}

form div {
    display: table;
    margin: 0 auto;
}


form input.sub {
    padding: 12px;
    display: table;
    margin: 0 auto;
    border-color: transparent;
    background: #03a8f45e;
}

form input.sub:hover {
    background: #20C8f45e;
}

form input.sub:active {
    background: #298fcf;
    text-decoration: underline;
}

input.text {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #03a8f45e;
    color: #000000;
    font-size: 1.4rem;
}